@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	@font-face {
    font-family: Poppins;
    font-weight: 100;
    src: url('.\\fonts\\Poppins-Thin.ttf') format('truetype');
	}
	@font-face {
    font-family: Poppins;
    font-weight: 200;
    src: url('.\\fonts\\Poppins-ExtraLight.ttf') format('truetype');
	}
	@font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url('.\\fonts\\Poppins-Light.ttf') format('truetype');
	}
	@font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url('.\\fonts\\Poppins-Regular.ttf') format('truetype');
	}
	@font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url('.\\fonts\\Poppins-Medium.ttf') format('truetype');
	}
	@font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url('.\\fonts\\Poppins-SemiBold.ttf') format('truetype');
	}
	@font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url('.\\fonts\\Poppins-Bold.ttf') format('truetype');
	}
	@font-face {
    font-family: Poppins;
    font-weight: 800;
    src: url('.\\fonts\\Poppins-ExtraBold.ttf') format('truetype');
	}
	@font-face {
    font-family: Poppins;
    font-weight: 900;
    src: url('.\\fonts\\Poppins-Black.ttf') format('truetype');
	}

	body {
		/* @apply bg-gray-50; */
		@apply bg-gray-50;
		/* background-color: hsl(220 13% 95% / 1); */
	}

  h1 {
		@apply text-3xl font-bold text-gray-800 tracking-tight;
  }
  h2 {
		@apply text-2xl font-bold text-gray-800 tracking-tight;
	}
	h3 {
		@apply text-xl font-bold text-gray-800 tracking-tight;
	}
	h4 {
		@apply text-lg font-normal text-gray-800 tracking-tight;
	}
	h5 {
		@apply text-base font-normal text-gray-800 tracking-tight;
	}
	h6 {
		@apply text-sm font-normal text-gray-800 tracking-tight;
	}
}

@layer components {
	.header-title {
		@apply text-3xl font-extrabold text-gray-900 tracking-tight;
	}
	.header-description {
		@apply mt-1 text-lg text-gray-500;
	}
	
	.containersStyle {
		@apply py-8 overflow-x-auto;
	}

	.firstHeaderElementStyle {
		@apply h-11 flex flex-row items-center;
	}

	/* @apply py-2 px-4 bg-yellow-500 text-white font-semibold rounded-lg shadow-md hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-opacity-75; */
	.btn {
		@apply py-1 px-4 bg-indigo-300 text-gray-900 font-medium rounded;
		@apply focus:outline-none transition-all hover:shadow hover:bg-white;
	}
	.btn.btn--lg {
		@apply py-2 px-5;
	}
	.btn.btn--gray {
		@apply bg-gray-300 hover:bg-white;
	}

	.inputClass {
		@apply rounded-md border border-gray-300 outline-none text-blue-600 bg-white transition-shadow hover:shadow-md focus:shadow-md focus:border-indigo-400;
	}

	.section {
		@apply my-2 p-2 px-4 bg-white rounded-md border border-l-2 border-indigo-400;
		/* border-radius: 3px; */
	}
}

body {
	margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


input[type="radio"],
input[type="checkbox"] {
	/* filter: hue-rotate(170deg); */
}